nav {box-shadow: 10px 0 10px black;}

.navbar i {
    color: white;
    font-size: 1.4em;
    line-height: 100%;
}

main {
    min-height: calc(100vh - 68px - 411px)
}

#genres-dropdown div {
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 100%;
    color: white;
    overflow: visible;
}

.swiper:hover {
    z-index: 2;
}

.swiper-slide, .show-card {
    width: 301px;
    height: 166px;
}

.card {
    width: max-content;
}

.show-card:hover .card {
    z-index: 3;
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img-top {
    width: 301px;
    height: 164px;
    aspect-ratio: 16/9;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.card-img-top > img {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .show-card:hover .card-img-top {
        min-width: calc(301px * 1.1);
        min-height: calc(164px * 1.1);
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 576px) {
    .show-card:hover .card-img-top {
        min-width: calc(301px * 1.3);
        min-height: calc(164px * 1.3);
        width: 100%;
        height: 100%;
    }
}

.card-body {display: none;}

.show-card:hover .card-body {display: block;}

.card-body i {cursor: pointer;}

.show-card li {
    position: relative;
    padding: 0 12px;
}

.show-card li:first-of-type {padding-left: 0;}

.show-card li:not(li:first-of-type)::before {
    content: "•";
    position: absolute;
    left: -6px;
    transform: translateX(50%);
    color: white;
}

.show-card li:last-of-type {
    padding-right: 0;
}