nav {box-shadow: 10px 0 10px black;}

.navbar i {
    color: white;
    font-size: 1.4em;
    line-height: 100%;
}

main {
    min-height: calc(100vh - 68px - 411px)
}

#genres-dropdown div {
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 100%;
    color: white;
    overflow: visible;
}

.swiper-slide, .show-card {
    width: 301px;
    height: 166px;
}

.show-card {
    position: relative;
}

.card {
    width: max-content;
    position: absolute;
}

.show-card:hover .card {
    z-index: 999;
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img-top {
    width: 301px;
    height: 164px;
    transition: all .2s ease-in-out;
}

.card-img-top > img {
    width: 100%;
}

.show-card:hover .card-img-top {
    width: 421px;
    height: 230px;
}

.card-body {display: none;}

.show-card:hover .card-body {display: block;}

.show-card li:not(li:first-of-type) {list-style: disc;}